require "sinatra"
require "haml"
require "sass"

module <%= name.capitalize %>
  class Application < Sinatra::Base
    set :public_folder, File.join(File.dirname(__FILE__), '<%= name %>', 'public')
    set :views, File.join(File.dirname(__FILE__), '<%= name %>', 'views')  
    
    # Your actions go here  
  end
end