#!/usr/bin/env ruby

require 'rubygems' unless defined?(Gem) # Useful only on --dev mode
require 'bundler/setup' if %w(Gemfile .components).all? { |f| File.exist?(f) }

require 'thor'

module <%= camelize(name) %>
  class Runner < Thor
    desc "info", "about this gem"
    def info
      say "This is the command line executable and can be found in <%= name %>/bin"
    end
  end
end

<%= camelize(name) %>::Runner.start