# <%= name %>

**<%= name %>** is a [sinatra](http://www.sinatrarb.com) app/middleware that can be run standalone app or required as a gem.

## Running standalone
Simply run the ``bundle`` and then ``rackup`` commands.

## Bundling as a gem
    gem build <%= name %>.gemspec
    sudo gem install <%= name %>-0.0.1.gem

## License
Please see License.txt